<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12"><h3>{{author.FirstName}} {{author.LastName}}</h3></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="card-group">
            <div class="card" ng-repeat="post in author.Posts">
                <div class="card-block">
                    <h4 class="card-title">{{post.Title}} - {{post.PublicationDate | date:'MM/dd/yyyy'}}</h4>
                    <p class="card-text">
                        {{post.Content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>